<template>
  <div class="about">
    <h1>This is an about page</h1>
    <Menu />
  </div>
</template>

<script>
// @ is an alias to /src
import Menu from '@/components/Menu.vue'

export default {
  name: 'About',
  components: {
    Menu
  }
}
</script>