<template>
  <div>
    <div class="applicants">
      <div class="container menu">
        <div class="header__inner"> 
          <a href="" class="all">Все</a>
          <a href="" class="grey">HR-менеджер</a>
          <a href="" class="grey">Сотрудники</a>
        </div>
      </div>
    </div>
    <div class="container table">
      <applicantsTable 
        v-for="appName in appNames"
        :key="appName.id"
        :name="appName.name"
        :id="appName.id"
        v-on:deleteStr="deleteString(appName.id)"
      />
      <a href="" class="editPeople">
        <img src="../assets/editpeople.png" alt="">
      </a>
    </div>
      <Menu />
  </div>
</template>

<script>
import Menu from "@/components/Menu.vue";
import applicantsTable from "@/components/applicantsTable.vue";


export default {
  name: 'Applicants',
  data() {
    return{
      appNames: [
        {
          id: 0,
          name: 'Леха Леха'
        },
        {
          id: 1,
          name: 'Данила Крейзи'
        },
        {
          id: 2,
          name: 'Хороший Сайт'
        },
        {
          id: 3,
          name: 'Проектный Практикум'
        },
        {
          id: 4,
          name: 'Отличная Защита'
        },
      ]
    }
  },
  components: {
    Menu, applicantsTable
  },
  methods: {
    deleteString(name) 
    {
      console.log(name);
      this.appNames = [...this.appNames.filter(appName => appName.id !== name)];
    }
  }
}
</script>

<style scoped>

  .table {
    min-width: 375px;
    min-height: 507px;
  }

  .menu {
    padding-left: 27px;
    padding-right: 28px;
    background-color: white;
    border-bottom: 1px solid rgb(0,0,0, .1);
  }

  .header__inner {
    min-height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 36px;
  }

  .grey {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* второстепенный */

    color: #ABAEB4;

  }

  .all{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    text-align: center;


    color: #5680DD;
  }

  .editPeople{
    position: fixed;
    width: 56px;
    height: 56px;
    left: 272px;
    top: 532px;
  }
</style>