<template>
  <div class="container-fluid page p-0">
    <div class="container-fluid sticky-top row justify-content-between align-content-center m-0 header pt-3 px-4">
        <a @click="$router.go(-1)"><img src="../assets/back.png" /></a>
        <p class="font-weight-bold"> Все резюме </p>
        <a><img src="../assets/edit-active.png" /></a>
    </div>
    <div class="overflow-auto pb-3">
      <EmployeeCard 
        v-for="employee in employees"
        :id="employee.id"
        :key="employee.name"
        :name="employee.name" 
        :position="employee.position" 
        :age="employee.age"
        :salary="employee.salary" 
        :workedFor="employee.workedFor"
        :recieved="employee.recieved"
        :score="employee.score"
        :starred="employee.starred"
        class="mx-auto mt-3"
      />
    </div>
  </div>
</template>

<script>
import EmployeeCard from "@/components/EmployeeCard.vue";
export default {
  name: 'CardsPage',
  components: {
    EmployeeCard
  },
  data() {
    return {
      cards: null
    }
  },
  computed: {
    employees() { 
          return this.$store.getters.EMPLOYEES;
        }
  },
  mounted() {
    this.$store.dispatch("GET_EMPLOYEES");
  }
  
}
</script>

<style scoped>

.page {
  background-color: #F3F5F8;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgb(0,0,0, .1);
}

</style>