<template>
  <div class="container-fluid dashboard p-0">
    <div class="container-fluid user py-3 px-4">
      <div class="d-flex align-items-center justify-content-between flex-row">
        <div class="text-left">
          <span class="font-weight-bold my-3">{{userdata.name}}</span>
          <p class="mb-0 text-secondary">{{ (isAdmin ? "Admin" : "User") }}</p>
        </div>
        <div class="user_avatar">
          <p class="m-0">{{ avatar }}</p>
        </div>
      </div>
    </div>
    <div class="row px-4 pt-3 m-0 justify-content-between">
      <p class="font-weight-bold text-black-50">Вакансии</p>
      <router-link 
      :to="{ 
        name: 'Workers'
      }" 
      >
      Все
      </router-link>
    </div>
    <div class="row flex-nowrap px-4 pb-3 m-0 overflow-auto">
      
      <JobCard 
        v-for="card in cardsList" 
        :name="card.name"
        :personnel="card.experts"
        :id="card.id"
        :key="card.id" 
      />

    </div>
    <div class="row px-4 pt-3 m-0 justify-content-between">
      <p class="font-weight-bold text-black-50">Резюме без оценки</p>
      <a href="#">Все</a>
    </div>
    <div class="row flex-nowrap px-4 pb-3 m-0 overflow-auto">
      <EmployeeCard 
        v-for="employee in employeesList"
        v-show="!employee.score"
        :id="employee.id"
        :cardId="employee.cardId"
        :key="employee.id"
        :name="employee.name" 
        :position="employee.position" 
        :age="employee.age"
        :salary="employee.salary" 
        :workedFor="employee.workedFor"
        :recieved="employee.recieved"
        :starred="employee.starred"
        class="mr-3"
      />
    </div>
    <div class="container px-4">
      <button class="btn btn-block bg-transparent add">
        Добавить резюме
      </button>
    </div>
    <Menu />
  </div>
</template>

<script>
// @ is an alias to /src

import JobCard from "@/components/JobCard.vue";
import EmployeeCard from "@/components/EmployeeCard.vue";
import Menu from "@/components/Menu.vue";


export default {
  name: 'Dashboard',
  components: {
     Menu, JobCard, EmployeeCard
  },
  data() {
    return {
      user: null,
      isAdmin: true
    }
  },
  computed: {
    avatar: function() {
        let initials = "";
        let letters = this.userdata.name.split(" ");
        for (let i = 0; i < letters.length; i++) {
        let letter = letters[i].substring(0, 1).toUpperCase();
        initials = initials + letter;
        }
        return initials;
    },
    employeesList() {
      return this.$store.getters.EMPLOYEES;
    },
    cardsList() {
      return this.$store.getters.CARDS;
    },
    userdata() {
      return this.$store.getters.USER;
    }
    
  },
  mounted() {
    this.$store.dispatch('GET_EMPLOYEES');
    this.$store.dispatch('GET_CARDS');
    this.user = this.userdata;
  }
}
</script>

<style scoped>

.dashboard {
  background-color: #F3F5F8;
  height: 100%;
}

.user {
  background-color: white;
  border-bottom: 1px solid rgb(0,0,0, .1);
}

.user_avatar {
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #FD9D13;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 14px;
}

.add {
  border-color: #5680DD;
  color: #5680DD;
  height: 50px;
  display: block;
}

.add span {
  color: #5680DD;
}

</style>