<template>
    <div class="main h-100">
      <div class="container-fluid h-100 px-0">
        <div class="wrapper h-100 d-flex flex-column align-items-center">
          <div class="logo">
            <a class="logo__link" href="#">
              <img src="../assets/logo2.png" alt="logo">
            </a>
          </div>
          <form class="forms" method="post" action=".html" @submit.prevent="login">
              <input v-model="phone" name="phone" class="form-control my-4" type="tel" maxlength="16" placeholder="Телефон" />
              <input v-model="password" autocomplete="current-password"  type="password" id="passwordInputField" class="form-control mb-4" placeholder="Пароль" required/>
              <button class="enter btn btn-block" type="submit" name="button">Войти</button>
              <p v-if="auth == 'error'">Неверные данные</p>
          </form>
          <div class="bttm bottom-0">
          <p class="text_bottom text-center py-3">Нет аккаунта? <router-link class="reg"  to="/registration">Зарегистрироваться</router-link></p>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Enter'
  }
</script>

<script>
import Inputmask from 'inputmask'

export default {
  data() {
    return {
      phone: "",
      password: ""
    }
  },
  /* mounted () {
    var im = new Inputmask("+7 ### ### ## ##");
    im.mask(document.getElementsByName('phone'));
  }, */
  computed: {
    auth() { 
      return this.$store.getters.AUTHSTATUS; 
    }
  },
  methods: {
      login: function () {
        let username = this.phone
        let password = this.password
        this.$store.dispatch('LOGIN', { username, password })
        .then(() => this.$router.push('/dashboard'))
        .catch(err => console.log(err))
      }
    }
}
</script>

<style scoped>

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    }

.logo {
  position: relative;
  padding: 50px 0;
}

.form-control{
  width: 320px;
  height: 37px;
  border: none;
  border-bottom: 1px solid #ABAEB4;
}

.form-control {
  -moz-appearance: textfield;
}
.form-control::-webkit-inner-spin-button {
  display: none;
}

.enter {
  position: relative;
  min-height: 64px;
  min-width: 320px;


  background: #122043;
  border-radius: 4px;
  border-color: #122043;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}


.circle {
  position: relative;
  width: 375px;
  height: 153px;
  left: 0px;
  bottom: 0px;
}

.text_bottom {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  color: #696969;
}

.text_color {
  color: #FFFFFF;
}

.reg{
  color: #FFFFFF;
}

.bttm {
  background-image: url(../assets/bttm.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
  position: absolute;
  bottom: 0;
}


</style>