<template>
  <div>
    <div>
      <div>
        <div class="logo">
          <a href="" class="logo__link">
            <img src="../assets/logo.png" alt="logo">
          </a>
        </div>
        <div class="bottom">
          <img class="circle" src="../assets/bottom.png" alt="bottom">
          <div class="enter__button">
            <form action="" class="page" target="_blank" method="post">
              <router-link to=/enter><button class="enter">Войти</button></router-link>
            </form>
            <form action="">
              <router-link to=/registration><button class="registration">Регистрация</button></router-link>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style scoped>
.logo {
  position: absolute;
  min-width: 128px;
  min-height: 146px;
  left: 124px;
  top: 136px;
}

.enter {
  position: absolute;
  left: 28px;
  top: 488px;
  min-width: 320px;
  min-height: 64px;


  background: #122043;
  border-radius: 4px;
  border-color: #122043;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;


  text-align: center;

  color: #FFFFFF;
}


.registration {
  background: none;

  position: absolute;
  left: 28px;
  top: 572px;
  min-width: 320px;
  min-height: 64px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 516px;
  bottom: 0;
  max-width: 375px;
  min-height: 153px;
}
</style>