<template>
  <div class="container-fluid page p-0">
    <div class="container-fluid row sticky-top justify-content-between align-content-center m-0 header pt-3 px-4">
        <a @click="$router.go(-1)"><img src="../assets/back.png" /></a>
        <p class="font-weight-bold"> {{ pageName }} </p>
        <a><img src="../assets/edit-active.png" /></a>
    </div>
      <EmployeeCard 
        v-for="employee in positionCards"
        :id="employee.id"
        :key="employee.id"
        :starred="employee.starred"
        :name="employee.name" 
        :cardId="employee.cardId"
        :position="employee.position" 
        :age="employee.age"
        :salary="employee.salary" 
        :workedFor="employee.workedFor"
        :recieved="employee.recieved"
        :score="employee.score"
        class="mx-auto mt-3"
      />
  </div>
</template>

<script>
import EmployeeCard from "@/components/EmployeeCard.vue";
export default {
  name: 'PositionPage',
  components: {
    EmployeeCard
  },
  props: {
      positionPage: String
  },
  data() {
    return {
      positionName: "",
      pageTitle: "",
      cards: ""
    }
  },
  computed: {
    employeesList() {
      return this.$store.getters.EMPLOYEES;
    },
    cardsList() {
      return this.$store.getters.CARDS;
    },
    pageName() {
      /* let self = this;
      let name = "";
      this.allCards.forEach((element) => {
        if (element.id == self.positionPage) {
          name = element.name;
        }
      }); */
      if (this.cardsList != null) {
        return this.cardsList.find(element => element.id == this.positionPage).position;
      }
      else return this.pageTitle

    },
    positionCards() {
      return this.employeesList.filter(element => element.cardId == this.positionPage);
    },
    
  },
  mounted() {
    /*this.$store.dispatch("GET_POSITION_CARDS", this.pageTitle).then(response => {
        this.cards = response;
    }); */
    this.$store.dispatch("GET_CARDS");
    this.$store.dispatch("GET_EMPLOYEES");
    /* this.pageTitle = this.allCards.find(element => element.id == this.positionPage).position;*/
    
  },
  beforeUpdate() {
    this.cards = this.employeesList.filter(element => element.cardId == this.positionPage); 
  }

  
}
</script>

<style scoped>

.page {
  background-color: #F3F5F8;
  min-height: 100%;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgb(0,0,0, .1);
}

</style>