<template> 
    <div class="main h-100">
        <div class="container p-0 h-100">
                <div class="logo">
                    <a class="d-block my-auto" href="/">
                        <img src="../assets/logo2.png" alt="logo">
                    </a>
                </div>
                <form class="mx-auto forms">
                        <input type="text" id="telInputField" class="form-control mt-5 mx-auto" placeholder="Имя и Фамилия"  v-model="name" />
                        <input type="tel" class="form-control mt-5 mx-auto" name="phone" maxlength="16" placeholder="Телефон" v-model="phone" />
                        <input type="text" id="textInputField" class="form-control mt-5 mx-auto" placeholder="Название компании"  v-model="company" />
                        <input type="password" id="passwordInputField" class="form-control mt-5 mx-auto" placeholder="Пароль" v-model="password" />
                        <input type="password" id="password2InputField" class="form-control mt-5 mx-auto" placeholder="Повторите пароль" v-model="password_confirmation" />
                        <router-link to="/dashboard"><button class="enter mx-auto mt-5" type="submit" @click="register" name="button">Зарегистрироваться</button></router-link>
                        </form>
                <div class=" bottom-0 bottom_text">
                    <p class="text_bottom text-center mx-auto mt-5">Уже есть аккаунт? <router-link class="reg" to=/enter>Войти</router-link></p>
                </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Registration'
}
</script>

<script>
import Inputmask from 'inputmask'

export default {
  data(){
      return {
        phone: "",
        name: "",
        company: "",
        password: "",
        password_confirmation: "",
        is_admin: true
      }
    },
  mounted () {
    /* var im = new Inputmask("+7 ### ###-##-##");
    im.mask(document.getElementsByName('phone')); */
   },
   methods: {
      register: function () {
        let data = {
          phone: this.phone,
          username: this.name,
          name_company: this.company,
          password: this.password,
          password2: this.password_confirmation,
          is_admin: this.is_admin
        }
        console.log(data);
        this.$store.dispatch('REGISTER', data)
       .then(() => this.$router.push('/dashboard'))
       .catch(err => console.log(err))
      }
   }
}
</script>

<style scoped>
.logo {
  height: 200px;
}

.form-control{
  width: 320px;
  height: 37px;
  border: none;
  border-bottom: 1px solid #ABAEB4;

}

.form-control {
  -moz-appearance: textfield;
}
.form-control::-webkit-inner-spin-button {
  display: none;
}

.bottom_text {
  background-image: url(../assets/bttm.png);

  width: 100%;

}

.enter {
  min-width: 320px;
  min-height: 64px;

  background: #122043;
  border-radius: 4px;
  border-color: #122043;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}

.circle {
  min-width: 100%;
  left: 0px;
  bottom: 0px;
}

.text_bottom {
  width: 244px;
  height: 16px;
  bottom: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  color: #696969;
}

.text_color {
  color: #FFFFFF;
}
.reg{
  color: #FFFFFF;
}


</style>