<template>
  <div class="settings">
    <div class="header"></div>
    <div class="card">
      <div class="card-title justify-content-between align-items-center">
        <h5 class="companyName text-left">{{ (isAdmin ? "Admin" : "User") }} {{ company }}</h5>
      </div>
      <div class="card-text d-flex flex-row flex-nowrap">
        <p class="card-text m-0">{{ username.name }}</p>  
      </div>
      <div class="card-text d-flex flex-row flex-nowrap pt-2">
        <p class="card-text m-0">{{ number }}</p>  
      </div>
      <div class="card-text d-flex flex-row flex-nowrap pt-2">
        <p class="card-text m-0">{{ password }}</p>  
      </div>
      <button class="edit" type="submit">Редактировать</button>
    </div>
    <div class="exitbutton">
        <button class="exit" @click="logout">Выйти</button>
    </div>

     <Menu />
  </div>
 
</template>

<script>
import Menu from "@/components/Menu.vue";


export default {
  name: 'Settings',
  data() {
    return {
      isAdmin: true,
      company: 'Company',
      user: 'Erjan Vstavanov',
      number: '',
      password: '*******',
      username: '',
    }
  },
  components: {
    Menu
  },
  computed: {
      isLoggedIn() { 
        return this.$store.getters.IS_LOGGED_IN 
      },
    },
    methods: {
      logout() {
        this.$store.dispatch('LOGOUT')
        .then(() => {
          this.$router.push('/')
        })
      }
    },
    mounted() {
      this.username = this.$store.getters.USER;
      this.$store.dispatch("GET_USER_DATA", this.username.id).then(response => {
        this.number = response.phone;
    });
    }
}
</script>

<style scoped>

  .settings{
    background-color: #F3F5F8;
    min-width: 375px;
    min-height: 667px;
  }

  .header{
    height: 24px;
  }

  .card {
    margin-left: 28px;

    padding-left: 32px;
    padding-top: 24px;
    border-radius: 4px;
    width: 320px;
    height: 292px;
  }
  .edit{
    width: 256px;
    height: 64px;
    margin-top: 35px;
    background-color: #fff;
    border: 1px solid #5680DD;
    box-sizing: border-box;
    border-radius: 4px;
    color: #5680DD;
  }

  .exitbutton {
    padding-top: 188px;
  }

  .exit{
    width: 320px;
    height: 64px;

    color: #ED6863;
    
    background: #fff;
    border-radius: 4px;
    border: none;
  }
</style>