<template>
<div class="h-100 overflow-auto">
  <div class="container-fluid page h-100 p-0">
    <div class="container-fluid sticky-top row justify-content-between align-content-center m-0 header pt-3 px-4">
        <p class="font-weight-bold"> Избранное </p>
    </div>
    <div v-if="(employeesList != undefined) && (employeesList.length != 0)">
      <EmployeeCard 
        v-for="employee in employeesList"
        :id="employee.id"
        :cardId="employee.cardId"
        :key="employee.name"
        :name="employee.name" 
        :position="employee.position" 
        :age="employee.age"
        :salary="employee.salary" 
        :workedFor="employee.workedFor"
        :recieved="employee.recieved"
        :score="employee.score"
        :starred="employee.starred"
        class="mx-auto mt-3"
      />
    </div>
    <div v-else>
      <p class="mt-3 text-secondary">Начните добавлять избранное</p>
    </div>
  </div>
  <Menu />
</div>
</template>

<script>
// @ is an alias to /src

import Menu from "@/components/Menu.vue";
import EmployeeCard from "@/components/EmployeeCard.vue";

export default {
  name: 'Starred',
  components: {
    Menu,
    EmployeeCard
  },
  data() {
    return {
      cards: null
    }
  },
  computed: {
    employeesList() {
      return this.$store.getters.STARRED;
    }
  }, 
  mounted() {
    this.$store.dispatch('GET_EMPLOYEES');
  }
}
</script>

<style scoped>
.page {
  background-color: #F3F5F8;
}
.header {
  background-color: white;
  border-bottom: 1px solid rgb(0,0,0, .1);
}
</style>

