<template>
  <div class="container-fluid page p-0">
    <div class="container-fluid row justify-content-between align-content-center m-0 header pt-3 px-4">
      <a @click="$router.go(-1)"><img src="../assets/back.png" /></a>
      <p class="font-weight-bold"> {{ summaryName }} </p>
      <a><img src="../assets/star.png" /></a>
        <div class="container-fluid row justify-content-between align-content-center m-0 header pt-3 px-0">
          <p class="grey">Добавлено</p>
          <p class="grey">Собеседование</p>
            <div class="container-fluid row justify-content-between align-content-center m-0 header px-0">
              <p>Сегодня</p>
              <p>Не выбрано</p>
            </div>
        </div>
    </div>
    <div class="rating container mt-3">
      <div class="mainInfo">
        <div class="info d-flex justify-content-between">
          <h1 class="main text-wrap text-left ml-3">{{ summaryName }}</h1>
          <div class="marks d-flex flex-column mt-3">
            <h6 class="grey d-flex justify-content-between align-items-center ">before <button class="firstButton ml-3">-</button></h6>
            <h6 class="grey d-flex justify-content-between align-items-center mt-1">after <button class="firstButton">-</button></h6>
          </div>  
        </div>
        <div class="age d-flex justify-content-between mr-3 ml-3 mt-3">
          <small class="grey">Возраст</small>
          <small>28 лет</small>
        </div>
        <div class="connect d-flex justify-content-between mr-3 ml-3 mt-3">
          <small class="grey">Мобильность</small>
          <small class="mob text-justify">Екатеринбург, не готов к переезду, не готов к командировкам</small>
        </div>
        <div class="can d-flex justify-content-between mr-3 ml-3 mt-3">
          <small class="grey">Занятость</small>
          <small>полная</small>
        </div>
        <div class="work d-flex justify-content-between mr-3 ml-3 mt-3">
          <small class="grey">График работы</small>
          <small>Полный день</small>
        </div>
        <div class="about d-flex justify-content-between text-nowrap">
          <small class="grey mr-3 ml-3 mt-3">Обо мне</small>
        </div>
        <small class="aboutMe text-justify"> Развиваюсь и тут и там и везде Развиваюсь и тут и там и везде Развиваюсь и тут и там и везде Развиваюсь и тут и там и везде Развиваюсь и тут и там и везде </small>
      </div>
      <div class="t">
        <h3 class="sector d-flex justify-content-between mr-3 ml-2 mt-5">Личные качества</h3>
        <table class="table">
          <tr class="tableWin ">
            <td class="d-flex justify-content-between">Гигиена <button class="circleButton">Посл</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Доброжелательность <button class="circleButton">Посл</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Ответственность <button class="circleButton">Посл</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between"> Общительность <button class="circleButton">Посл</button></td>
          </tr>
        </table>
      </div>
      <div class="general">
        <h3 class="sector d-flex justify-content-between mr-3 ml-2 mt-5">Общее</h3>
        <table class="table">
          <tr class="tableWin">
            <td class="d-flex justify-content-between">Желаемая ЗП <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Опыт работы  <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Образование <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Знание языков  <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Гражданство <button class="circleButton">До</button></td>
          </tr>
        </table>
      </div>
      <div class="skills">
        <h3 class="sector d-flex justify-content-between mr-3 ml-2 mt-5">Ключевые навыки</h3>
        <table class="table">
          <tr class="tableWin">
            <td class="d-flex justify-content-between">HTML <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">CSS  <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">JavaScript <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">Adobe Photoshop  <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">MySQL <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">jQuery <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between">PHP <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">GIT <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">Twig <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">October <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">Webpack <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">npm <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">yarn <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">SCSS <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">React <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">Redux <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">VueJS <button class="circleButton">До</button></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-between ">Node.js <button class="circleButton">До</button></td>
          </tr>
        </table>
      </div>
    </div>  
  </div>
</template>

<script>


export default {
  name: 'SummaryRating',
  props: {
    summaryPage: Number,
    summaryName: String
  }
}

</script>

<style scoped>

  .main{
    min-width: 192px;
    min-height: 64px;
  }

  .mob{
    width: 160px;
    height: 60px;
  }

  .aboutMe {
    width: 320px;
    height: 160px;
  }

  .circleButton{
    width: 36px;
    height: 36px;

    background-color: #fff;
    color: #5680DD;;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .firstButton{
    width: 32px;
    height: 32px;
    background-color: #F3F5F8;
    color: #5680DD;
    border-color: #5680DD;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .marks {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #ABAEB4;
  }

  .grey {
    

    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #ABAEB4;
  }


  .page {
    background-color: #F3F5F8;
  }

  .header {
    background-color: white;
    border-bottom: 1px solid rgb(0,0,0, .1);
  }
</style>