<template>
  <div class="workers">
    <div class="container header">
      <div class="header__inner">
          <router-link 
            :to="{ 
             name: 'CardsPage'
            }" 
            >Все</router-link>
          <a href="#" class="last">Последние</a>
      </div>      
    </div>
    <div class="container folders-page overflow-auto">
      <div class="mainPage">
        <div class="new__folder d-flex flex-wrap">
          <FullFolder 
            v-for="card in cardsList" 
            :id="card.id"
            :name="card.name"
            :personnel="card.experts"
            :key="card.name" 
          />
          <Folder v-on:createFolder="addJobFolders()" />
        </div> 
      </div>
    </div>  
  <Menu />
  </div>
</template>



<script>
import Menu from "@/components/Menu.vue";
import Folder from "@/components/Folder.vue";
import FullFolder from "@/components/FullFolder.vue";

export default {
  name: 'Workers',
  props: {
    name: String,
  },
  components: {
    Folder, Menu, FullFolder
  },
  data () {
        return {
        
    }

  },
  computed: {
    cardsList() {
      return this.$store.getters.CARDS;
    }
  },
  methods: {
    addJobFolders() {
      this.jobFolders.push(Folder)
    }
  },
  mounted() {
    this.$store.dispatch('GET_CARDS')
    this.$store.dispatch('GET_EMPLOYEES')
  }
}
</script>

<style scoped>
html{
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  min-width: 375px;
  overflow-x: hidden;
}

.workers {
  background-color: #F3F5F8;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgb(0,0,0, .1);
}

.header__inner {
  min-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 36px;
}

.folders-page {
  margin-bottom: 49px;
}

.new__folder form{
  margin: 10px;
}


</style>