<template>
    <div class="person">
        <div class="allTable">
            <div class="username">{{ name }}</div>
            <select class="post" id="">
                <option class="hr">HR</option>
                <option value="">Сотруд.</option>
            </select>
            <a @click="deleteString" class="delete">
                <img src="../assets/delete.png" alt="">
            </a>
        </div>
    </div>      
</template>

<script>
export default {
    name: 'applicantsTable',
    props: {
        name: String,
        id: Number
    },
    methods: {
        deleteString() {
            this.$emit('deleteStr')
        }
    }
}
</script>

<style scoped>

    :focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    }

    .person {
        min-width: 320px;
        min-height: 30px;
    }
    
    .allTable {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        padding-top: 20px;
    }


    .post {
        width: 63px;
        height: 20px;
        border: none;


        font-family: Inter;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;

        color: #122043;


        -webkit-appearance: none;
        appearance: none;

        
    }

    .username{
        padding-left: 15px;
        min-width: 220px;
        min-height: 20px;
        text-align: left;

        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        color: #122043;
    }
    
    .delete {
        margin-right: 15px;
    }
</style>