<template>
  
    <div class="card position-relative justify-content-between col-10 p-0">
    <!-- <img width="20" 
    :src="'img/starred-'+(star ? 'filled' : 'active')+'.png'"
    @click="setStar"
    /> -->
    <svg fill="#5680DD" width="21px" height="20px" @click="setStar">
      <use :xlink:href="'img/sprite.svg#star'+(star ? '-filled' : '')"></use>
    </svg>
    <div class="px-3 mt-3">
      <router-link 
      :to="{
        name: 'SummaryRating',
        params: {
          summaryPage: id,
          summaryName: name
        }
      }">
      <h5 class="card-title font-weight-bold text-left mb-2">{{ name }}</h5>
      </router-link>
      <p class="card-subtitle text-left">{{ position }}</p>
    </div>
    <div v-if="(age || salary)" class="font-weight-bold row px-3 pt-2 m-0">
      <p class="m-0 pr-3">{{age}} лет</p>
      <p class="m-0 pr-3">{{salary}} руб.</p>
    </div>
    <div class="row m-0 py-2 px-3 align-items-end justify-content-between">
      <div class="column text-left m-0">
        <p class="m-0 text-muted font-weight-light">Опыт работы</p>
        <p class="m-0 font-weight-bold">{{workedFor}}</p>
      </div>
    </div>
    </div>
</template>

<script>
export default {
  name: 'EmployeeCard',
  props: {
      id: Number,
      cardId: Number,
      name: String,
      position: String,
      age: Number,
      salary: Number,
      workedFor: String,
      recieved: String,
      score: Number,
      starred: Boolean
  },
  data() {
    return {
      star: this.starred
    }
  },
  methods: {
    setStar() {
      this.star = !this.star;
      var payload = this.$props;
      payload.starred = this.star
      console.log(payload);
      this.$store.dispatch('SET_STAR', payload);
    }
  }
}
</script>

<style scoped>

.card {
  color: black;
}

.card h5 {
  color: #5680DD;
  font-size: 16px;
}

.card svg{
  display: block;
  right: 20px;
  top: 20px;
  position: absolute;
}

.card-title{
  max-width: 200px;
}

.card-footer {
  background-color: white;
}

.card {
  font-size: 14px;
  border: none;
}

</style>