<template>
    <form class="folder">
        <a v-on:click="emitToWorkers()" class="inputFolder">
            <img class="inputFolderImg" src="../assets/file.png" />
        </a>
    </form>
</template>

<script>


export default {
    name:'Folder',
    props: {
        name: String
    },
    methods: {
        emitToWorkers(){
            this.$emit('createFolder')
        }
    }
}
</script>

<style scoped>
    .inputFolderImg{
      display: flex;
      justify-content: space-between;
    }
</style>
