<template>
    
        <form action="" class="fullFolder position-relative d-flex justify-content-center">
            <a @click="EditMsg"  class="editFolder">
                <img class="editButton " src="../assets/editfolder.png" alt="">
            </a>
            <div class="folderImg">
                
                <div class="fuckThisTittle d-flex flex-column align-item-center">
                    <router-link
                :to="{ 
                    name: 'PositionPage',
                    params: {
                    positionPage: id
                    }
                }" v-if="!isEditing" class="folderName mb-1 font-weight-bold"> {{ name }} </router-link>
                    <input placeholder="Название вакансии"  v-else type="text" class="folderNameInp">
                    <p class="folderSum"> {{ employeesCount }} резюме </p>
                </div>
            
            </div>
            <div class="d-flex flex-row flex-nowrap circles">
                <div v-for="item in personnel" :key="item" class="p-0">
                    <NameIcon :name="item" />
                </div>
            </div>   
        </form>

</template>

<script>
import NameIcon from "@/components/NameIcon.vue";

export default {
    name:'fullFolder',
    data() {
        return {
            isEditing: false
        }
    },
    methods:{
        EditMsg () {
            this.isEditing = true
        }
    },
    components: {
        NameIcon
    },
    props: {
        name: String,
        personnel: Array,
        id: Number
    },
    computed: {
        employeesCount() {
        return this.$store.getters.CARDS_COUNT(this.id);
        }
    }
}
</script>

<style scoped>

    :focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    }

    .page {
        margin: 10px;
    }
    .folderName{
        padding-top: 35px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        text-align: center;

        /* черн */

        color: #122043;
    }

    .folderNameInp {
        margin-top: 35px;
        border: none;
    }
    .folderSum{
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 20px;

        text-align: center;

        color: #5680DD;
    }

    .circles {
       position: absolute;
        bottom: -10px;
    }
    .editFolder{
        position: absolute;
    }
    .folderImg {
        width: 150px;
        height: 112px;

    }

    .fullFolder {
        width: 150px;
        height: 112px;
        background-image: url(../assets/whitefolder.png);
    }
</style>