<template>
  <router-link 
  :to="{ 
    name: 'PositionPage',
    params: {
      positionPage: id
    }
  }" 
  :class="'card justify-content-between col-10 py-3 px-4 mr-3 '+((applicantsCount == 0) ? 'd-none' : 'd-flex')">
    <div class="row justify-content-between align-items-center pl-3 pb-2">
        <img height="20" src="img/file-active.png" />
        <div class="d-flex flex-row flex-nowrap circles">
            <div v-for="item in personnel" :key="item" class="p-0">
                <NameIcon :name="item" />
            </div>
        </div>
    </div>
    <h5 class="card-title text-left text-body">{{ name }}</h5>
    <div class="row justify-content-between align-items-center mx-0">
        <p class="m-0 card-text">{{applicantsCount}} резюме</p>
        <svg fill="#5680DD" height="13" width="16">
          <use xlink:href="img/sprite.svg#next"></use>
        </svg>
    </div>
  </router-link>
</template>

<script>
// @ is an alias to /src

import NameIcon from "@/components/NameIcon.vue";


export default {
  name: 'JobCard',
  components: {
    NameIcon
  },
  props: {
        name: String,
        personnel: Array,
        id: Number
    },
  data() {
    return {
      
    }
  },
    computed: {
        applicantsCount() { 
            return this.$store.getters.CARDS_COUNT(this.id);
        }
    }
}
</script>

<style scoped>

.circles{
    position: relative;
}

.card {
    border: none;
    border-radius: 10px;
    position: relative;
}

.card-title {
    width: 70%;
}

.card-text {
    color: #5680DD;
}

</style>