<template>
  <div class="navbar w-100 fixed-bottom" style="background-color: white;">
    <div class="nav-item" v-for="(button, key) in buttons" :key="key">
            <router-link :to="button.page">
                <!-- <img :src="button.path + ((page == button.name) ? '-active' : '') + '.png'" /> -->
                <svg :class="'icon' + ((page == button.name) ? '-active' : '')" height="25px" width="25px">
                  <use :xlink:href="'img/sprite.svg#'+button.path"></use>
                </svg>
            </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data() {
    return {
        page: "",
        buttons: {
            file: {
                path: "file",
                page: "/workers",
                name: "Workers"
            },
            star: {
                path: "star",
                page: "/starred",
                name: "Starred"
            },
            home: {
                path: "home",
                page: "/dashboard",
                name: "Dashboard"
            },
            people: {
                path: "workers",
                page: "/applicants",
                name: "Applicants"
            },
            settings: {
                path: "settings",
                page: "/settings",
                name: "Settings"
            }
        }
    }
  },
  computed: {
    currentRouteName() {
        return this.$route.name;
        // split("#/")[1];
    }
  },
  mounted() {
    this.page = this.currentRouteName;
  },
  watch: {
      $route(to) {
      this.page = to.name;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.navbar { 
  bottom: 0;
  border-top: 1px solid rgb(0,0,0, .1);
  height: 50px;
}

.icon{
  fill: #ABAEB4;
}

.icon-active {
  fill: #5680DD;
}

</style>
