<template>
  <div class="name_breadcumb">
    <p class="m-0">{{ content }}</p>
  </div>
</template>

<script>
export default {
  name: 'NameIcons',
  props: {
      name: String
  },
  computed: {
    content: function() {
        let initials = "";
        let letters = this.name.split(" ");
        for (let i = 0; i < letters.length; i++) {
        let letter = letters[i].substring(0, 1).toUpperCase();
        initials = initials + letter;
        }
        return initials;
    }
  }
}
</script>

<style scoped>

.name_breadcumb {
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #FD9D13;
    border: 1.5px solid white;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
}

</style>