<template>
  <div id="app">
    <router-view/>
    
  </div>
</template>

<script>

export default {
  created: function () {
    this.$http.interceptors.response.use(undefined, function (err) {
      return new Promise(function() {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch("LOGOUT")
        }
        throw err;
      });
    });
  }
}

</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: block;
  max-width: 375px;
}
</style>
